.page {
  background-color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.page__container {
  padding: 32px 24px 32px 32px;
}

.page__container-header {
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

.rating {
  margin: 0;
  color: #8b8b8b;
}

.main {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.main__film-description {
  display: flex;
  flex-direction: column;
}

.main__text {
  margin: 0;
  margin-bottom: 18px;
}

.main__genres {
  margin-bottom: 36px;
}

.genres__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
}

.genres__list-item {
  box-sizing: border-box;
  width: 86px;
  height: 32px;
  background-color: #383838;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actors__title {
  color: #8b8b8b;
  margin: 0;
  /* margin-bottom: 12px; */
}

.actors__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.actors__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actors__list-item img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.additional__title {
  margin: 0;
  margin-bottom: 16px;
}

.additional__img {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.additional__img img {
  width: 108px;
  height: 135px;
}